@font-face {
    font-family: Logo;
    src:url(../fonts/Logo.otf); 
   }

@font-face {
    font-family: Footer;
    src:url(../fonts/Footer_font.ttf); 
   }

@font-face {
    font-family: Main;
    src:url(../fonts/Main_text.ttf); 
   }

*{
    margin: 0;
    height: 100%;
}


header{
    height: 7%;
    background-color: #19476B;
    position: relative;
}

footer{
    height:auto;
    background-color: #40636B;
    display: flex;
    justify-content: center;
    padding: 6%;
}
    

.logo{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #19476B;
    text-align: center;
    font-size: 2vw;
    font-family: 'Logo';
}


#part1{
    min-height: 93%;
    background-color: #8FDDEE;
    display:flex;
    justify-content: center;
}

.text1{
    width: 80%;
    padding-top: 5%;
    height: auto;
}

.text1 a{
    font-family: Footer;
    text-decoration: none;
    color: rgb(240, 230, 240);
}

.text1 a:hover{
    color: #1f2b2e;
}

.text1 a:active{
    color: red;
}

.Logo1{
    font-family: Logo;
    font-size: 1.5vw;
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
}

.Main1{
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#part2{
    height: 100%;
    background-color: #37A0B8;
    display:flex;
    justify-content: center;
}

.text2{
    width: 80%;
    height: auto;
    background-color: #37A0B8;
    padding-top: 5%;
}

.text2 a{
    font-family: Footer;
    background-color: #37A0B8;
    text-decoration: none;
    color: thistle;
}

.text2 a:hover{
    color: #1f2b2e;
}

.text2 a:active{
    color: red;
}

.Logo2{
    font-family: Logo;
    font-size: 1.5vw;
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
}

.Main2{
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.image{
    display: flex;
    height: 80%;
}

.ImagesSpace{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3%;
    justify-content: space-between;
}

.ImagesColumn{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
    justify-content: center;
}

